/*
estilos generales del formulario
*/
body {
	font-family: "Verdana";
}
label {
	font-weight: bolder;
	margin: 10px 10px 10px 10px;
}
input,select,textarea {
	margin: 10px 10px 10px 10px;
}
button {
	margin: 10px 10px 10px 10px;
	width: 160px;	
	height: 30px;
	background-color: #A4E28D;
	font-weight: bolder;	
	border-radius: 6px;

}