<table width="100%">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Telefono</th>
			<th>Direccion</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Juan</td>
			<td>Alvarez</td>
			<td>5125478</td>
			<td>Calle x de y</td>
			<td>juanff@x.com</td>
		</tr>
	</tbody>
</table>